---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import logoImg from "../images/parkspot-logo.png";
import carImg from "../images/car-circle.png";
---

<Layout title="Welcome to ParkSpot.">
  <nav class="sm:relative">
    <div
      class="mx-4 py-4 sm:absolute sm:left-0 sm:right-0 sm:z-10 md:mx-12 lg:mx-24"
    >
      <div class="grid grid-cols-3 items-center">
        <Image src={logoImg} width={150} alt="ParkSpot logo" />
        <div class="flex flex-row justify-center gap-8 text-center text-white">
          <a href="#features">Features</a>
          <a href="#about">About</a>
          <a href="#testimonials">Testimonials</a>
        </div>
        <div class="text-right text-white">
          <a href="https://app.park-spot.co/login">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="hero-bg sm:grid sm:grid-cols-2">
      <div
        class="flex flex-col gap-4 text-white items-left mx-4 py-8 sm:pt-36 sm:pb-32 sm:items-start md:mx-12 lg:pt-52 lg:pb-48 lg:ml-24 lg:mr-12"
      >
        <h1 class="text-xl text-center font-bold sm:text-6xl sm:text-left">
          Reclaim Your Parking Rights With ParkSpot
        </h1>
        <div>
          <p class="text-center sm:text-left">
            ParkSpot guarantees that you and your visitors will have a parking
            spot in your community!
          </p>
        </div>
        <button>Contact us now!</button>
      </div>
      <div class="sm:relative sm:overflow-hidden">
        <Image
          src={carImg}
          alt="Hero car"
          class="h-72 object-contain sm:absolute sm:z-0 sm:object-cover sm:object-left sm:inset-0 sm:m-auto sm:h-fit 2xl:h-full"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  .hero-bg {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0) 0%,
        rgba(19, 211, 128, 1) 32%,
        rgba(3, 170, 96, 1) 100%
      ),
      linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(16, 255, 152, 1) 50%,
        rgba(255, 255, 255, 0) 58%
      );
  }
</style>
