---
import logoImg from "../images/parkspot-logo.png";
---

<nav class="relative">
  <div class="mx-4 py-4 absolute left-0 right-0 sm:z-10 md:mx-12 lg:mx-24">
    <div class="flex flex-row justify-between">
      <a href="/">
        <img src={logoImg.src} class="h-auto w-28" alt="ParkSpot Logo" />
      </a>
      <div class="flex flex-row gap-4 text-center text-white">
        <a href="/info-for-residents">Info</a>
        <a href="https://app.park-spot.co/login">Login</a>
      </div>
    </div>
  </div>
</nav>
