---
import logoImg from "../images/parkspot-logo.png";
---

<nav class="relative">
  <div class="mx-4 py-4 absolute left-0 right-0 sm:z-10 md:mx-12 lg:mx-24">
    <div class="grid items-center grid-cols-2 sm:grid-cols-3">
      <a href="/">
        <img src={logoImg.src} class="h-auto w-28" alt="ParkSpot Logo" />
      </a>
      <div class="hidden sm:block sm:flex sm:flex-row sm:justify-center">
        <div class="justify-between flex flex-row text-white w-80">
          <a href="#features">Features</a>
          <a href="#about">About</a>
          <a href="#testimonials">Testimonials</a>
        </div>
      </div>
      <div class="text-right text-white">
        <a href="https://app.park-spot.co/login">Login</a>
      </div>
    </div>
  </div>
</nav>
